
button{
    cursor: pointer;
}

.home-container{
    
    background-image: url('../../Img/Londrinadois.jpg');
    height: 100vh;
    background-position: '';
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.link{
    height: 190px;
    width: 190px;
    margin-top: -40px;
}


.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.caixa-login{
    background-color: #0082d3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    border-radius: 10px;
    width: 40%;
}


.home-container h1{
    font-size: 48px;
    margin-bottom: 8px;
}

.home-container span{
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 700;
}

.forma{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
}

.forma input{
    border: 0;
    margin-bottom: 12px;
    height: 36px;
    border-radius: 4px;
    padding: 0;
    font-size: 20px;
    margin: 10px;
    font-weight: 600; 
    padding: 5px;
    

}

.forma button{
    border: 0;
    border-radius: 4px;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    width: 97%;
}

.forma textarea{
    margin-bottom: 12px;
    border: 0;
    height: 90px;
    resize: none;
    border-radius: 4px;
}

.button-link{
    color: #ffffff;
    text-decoration: none;
    margin: 14px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    
}

@media screen and (max-width: 600px) {
    .caixa-login{
        background-color: #0082d3e3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 55%;
        border-radius: 10px;
        width: 90%;
    }
}