.caixa-sobre{
    margin: 35px;
}

.caixa-sobre h1{
    margin-bottom: 20px;
}

.caixa-sobre h2{
    margin-bottom: 20px;
}

.caixa-sobre p{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;
}

.contato-foto{
    height: 500px;
    border-radius: 10px;
}

.sobre-container{
    padding: 64px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.contato-66{
    float: left;
    /* width: 66.66666%; */
    width: 66.66666%;
    /* background-color: red; */
    padding: 20px;
}

.contato-column{
    float: left;
    width: 28%;
    padding: 20px;
    /* background-color: blue; */
}

.contato-large{
    font-size: 30px;
}

.xlarge-font{
    font-size: 54px;
}

.button{
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
}

/* img{
    display: block;
    height: auto;
    max-width: 100%;
} */

.texto{
    font-size: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
        .column-66,
        .column-33{
            width: 100%;
            text-align: center;
        }
        img{
            margin: auto;
        }
}