.slider-box{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slide-item{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}