@font-face {
    font-family: 'light';
    src: url(../../Fonts/static/Quicksand-Light.ttf);
}


.empresa-cadastro{
    margin: 30px;
    border-style: solid;
    border-radius: 10px ;
    padding: 10px;
    color: #0082d3;
    /* background-color: red; */
}

.bloco-dois{
     background-color: #0082d313; 
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}

.empresarial{
    font-size: 50px;
    width: auto;
    color: black;
    margin-right: 100px;
    /* background-color: #0082d3; */
    border-radius: 10px;
    padding: 10px;
    font-family: 'light';
   
    
}


.dois-a{
    display: flex;
    flex-direction: column;
}

.cadastro-input{
    border: 10px;
    background-color: #0082d3;
    width: 350px;
    color: white;
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;  
}

.dois-input{
    font-size: 20px;  
    border: 10px;
    background-color: #0082d3;
    width: 350px;
    color: white;
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
}


.Empresa-BNT{
    width: 350px;
    background-color: #0082d3;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px ;
    color: white;
    margin: 30px;
    height: 40px;
}

.empresa-cadastro label{
    color: black;
    font-weight: 700;
    margin-top: 20px;
    font-size: 20px;
    
}


