*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.agil{
    height: 210px;
}

.logo-header{
    overflow: hidden;
    background-color: #0082d3;
    margin-bottom: -10px;
}

.logo-header a{
    float: left;
    color: black;
    text-align: center;
    padding:12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.logo-header a:hover{
    background-color: #ddd;
    color: aqua;
}

.logo-header a.active{
    background-color: blue;
    color: white;
}

.right-header{
    display: flex;
    align-items: center;
    line-height: 40px;
}

.search{
    height: 40px;
    width: 350px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .logo-header a{
        float: none;
        display: block;
        text-align: left;
    }
}

