*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0082d3;
    color: white;
    display: flex;
}

.sub-footer{
    display: flex;
    align-items: center;
    line-height: 40px;
    margin: 30px;
    
}

.social{
    height: 40px;
}

/* .dados{

} */